/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    background-image: url('/static/medicine.jpeg'); /* Background image URL */
    background-size: cover;
    background-position: center;
    filter: blur(0px); /* Adjust the blur intensity as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0px auto; /* Center the container */
    padding: 30px 30px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.task {
    margin-bottom: 20px;
}
.button {
    display: inline-block;
    padding: 5px 100px; /* Adjusted padding for larger buttons */
    background-color: #007bff;
    color: #fff;
    width: 100%;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center; /* Center the text horizontally */
    box-sizing: border-box;
}

.button:hover {
    background-color: #0056b3;
}

