{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <link rel="stylesheet" href="{% static 'sign-up.css' %}">
</head>
<body>
    <div class="background-image">
        <div class="signup-container">
            <h1>Sign Up</h1>
            <form action="{% url 'signup' %}" method="POST">  
            {% csrf_token %} 
                <div class="form-group">
                    <input type="text" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="confirm-password" placeholder="Confirm Password">
                </div>
                <button type="submit">Sign Up</button>
            </form> 
                <p>Already have an account? <a href="/accounts/login/">Login</a></p> 
        </div>
    </div>
</body>
</html>
